APP_ENV=dev
APP_SECRET=change_me_in_production

# En local sans Docker, remplacer "mysql" par "127.0.0.1" et le port par 3307
DATABASE_URL="mysql://gose:gose@mysql:3306/gose_bulletins?serverVersion=8.0&charset=utf8mb4"
